/* Base -------------------------------------------------------------- */ 
body{
	background-color: #adadad;
	display: flex;
	font-size: calc(1rem + .1vw);
	line-height: calc(1.2rem + .4vw);
	letter-spacing: -.1px;
	font-family: sofia-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing:antialiased;
	overflow-x: hidden;
	height: 100vh;
	max-width: 1920px;
	margin: 0 auto;
}
*{margin:0;padding:0;border:0;color:inherit;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}


#canvas{
	background-color: #FFFFFF;
	height: inherit;
}
.button:hover {
	cursor: pointer;
	background: #cccccc;
}


h2 {
	font-size: 1.3rem;
	margin-bottom: .6rem;
	font-weight: 500;
}


.panel {margin-bottom: 1.5rem;}

.Materials .dropdown button {
	background: #e8e8e8;
	/* display: block; */
	/* width: 100%; */
}
.dropdown {
	position: relative;
	width: inherit;
}

.dropdown-content a img {
	border-radius: 100px;
	margin-right: 12px;
}
.dropdown-content {}

.panel .dropdown {
	width: 66%;
}
.panel .dropdown .button {
	width: 100%;
}
div#export-control {
	margin: auto 0 0 0;
}
.primary-title {
	font-size: 2rem;
	line-height: 2.4rem;
	margin-bottom: 1.5rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

#canvas1{
	width: 60%;
	background-color: #ffffff;
	border-radius: 8px 0px 0px 8px;
	margin: 16px 0px 16px 16px;
}
.canvas2{
	display: flex;
	width: 40%;
	flex-direction: column;
	background-color: #F7F7F7;
	border-radius: 0px 8px 8px 0px;
	margin: 16px 16px 16px 0px;
	padding: 48px;
}
.canvas5{ /*canvas for having only the model in webpage for use with page.screenshot*/
	width: 100%;
	height: 98vh;
}

.button{
	 /* color of button background */
	 color: #000000;
	 padding: 16px 16px;
	 font-size: 1rem;
	 cursor: pointer;
	 background-color: #e8e8e8;
	 border-radius: 6px;
	 letter-spacing: -.2px;
	 transition: .2s;
	 margin-right: 4px;
	 text-align: left;
	 border: 1px solid #e0e0e0;
}
input[type=button]{
	background-color: #8b8b8b; /* color of button background */
	border-radius: 1px;
	min-width: 190px;
	color: black;
	/* padding: 15px 32px;
	margin: 2px 2px; */
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
.clearfix::after {
	visibility:hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}


.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 140px;
	box-shadow: 0px 8px 16px 
		0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 0 0 8px 8px;
	padding: 12px 0px;
}

.dropdown-content a {
	color: black;
	padding: 8px 12px;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
	width: 100%;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}